/* Header.scss */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1b1b1b;
  padding: 10px 0;
  z-index: 1000;
  text-align: left;
  margin: 0 auto;

  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;
    }

    ul li {
      margin: 0 20px;
    }

    ul li a {
      color: #fff;
      text-decoration: none;
    }
  }
}